/* setting up common styling into variables */
:root {
  --padding-var: 10px;
  --margin-var: 5px;
  --colour-header: #f1faee;
  --colour-footer: #1d3557;
  --colour-button: #457b9d;
  --colour-button-disabled: #a8dadc;
  --colour-status: #a8dadc;
  --colour-link: #e63946;
  --border-radius-var: 8px;
}
/* setting the font family and size for the entire document */

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}

/* setting the styling for the header section */
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--padding-var);
  background-color: var(--colour-header);
}

/* setting the styling for the elements within the header section */
.header > section {
  padding: var(--padding-var);
  margin: var(--margin-var);
}

/* setting the styling for the links within the header section */
a {
  text-decoration: none;
  color: var(--colour-link);
}

/* setting the styling for the links within the header section */
.a_disabled {
  pointer-events: none;
  color: var(--colour-button-disabled);
}

/* setting up the styling for the timer section */
.timer {
  color: var(--colour-footer);
  padding: var(--padding-var);
  margin: var(--margin-var);
  border: 1px dashed var(--colour-footer);
  border-radius: var(--border-radius-var);
}

/* setting up the styling for the buttons */
button {
  padding: var(--padding-var);
  margin: var(--margin-var);
  background-color: var(--colour-button);
  color: var(--colour-header);
  font-size: 1.25em;
  font-weight: 600;
  border: 2px solid var(--colour-footer);
  border-radius: var(--border-radius-var);
  min-width: 10vw;
  overflow-wrap: anywhere;
  white-space: pre;
}
/* setting up styling for buttons when user hovers over */
button:hover {
  background-color: var(--colour-footer);
}
/* setting up styling for buttons when the button is disabled */
button[disabled] {
  border-color: var(--colour-button-disabled);
  background-color: var(--colour-button-disabled);
}

/* setting the styling for the H1 elements */
h1 {
  font-size: 2.5em;
  margin: var(--margin-var);
  padding: var(--padding-var);
}
/* setting up the styling for the p elements */
p {
  font-size: 1.5em;
  margin: var(--margin-var);
  padding: var(--padding-var);
}
/* seeting up the styling for the table with user scores */
table, td, tr {
    font-size: 1em;
    margin: var(--margin-var);
    padding: var(--padding-var);
    width: 50vw;
}
/* setting up the styling for the table with user scores */
thead {
    background-color: #a8dadc;
}

/* setting up the styling for the centralPanel */
.centralPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80vw;
  height: auto;
  margin: auto;
  padding: var(--padding-var);
  justify-content: flex-start;
}
/* setting up the styling for the central panel header */
#cPanelHeader {
  margin: var(--margin-var);
  padding: var(--padding-var);
}
/* setting up the styling for the central panel body */
#cPanelBody {
  margin: var(--margin-var);
  padding: var(--padding-var);
}

/* setting up the styling for the central pane when showing the quiz questions */
.quiz {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}
/* setting up styling for the UL element */
ol,
ul {
  padding-inline-start: 0px;
  margin: var(--margin-var);
  padding: var(--padding-var);
}
/* setting up the styling for the list item */
li {
  list-style: none;
  width: 100%;
}
/* setting up the list item when displaying the high score */
.high-score {
  list-style: auto;
  text-align: start;
  font-size: 1.25em;
}
/* setting pu the styling for the user input form */
form {
  display: flex;
  flex-direction: row;
  margin: var(--margin-var);
  padding: var(--padding-var);
}
/* setting up the styling for the input field */
input {
  padding: var(--padding-var);
  margin: var(--margin-var);
  min-width: 25%;
  font-size: 1.5em;
  font-weight: 600;
  border: 2px solid var(--colour-footer);
  border-radius: var(--border-radius-var);
}
/* setting up the styling for the status message that shows underneath the question once the question is answered */
.status {
  font-size: 1.2em;
  margin: var(--margin-var);
  padding: var(--padding-var);
  border-top: 1px solid var(--colour-status);
  width: 50vw;
  color: var(--colour-status);
  font-style: italic;
}

/* setting up styling for the footer */
footer {
  background-color: var(--colour-footer);
  color: var(--colour-header);
  padding: var(--padding-var);
  margin: 150px 0 0 0;
  font-size: 0.5em;
  vertical-align: top;
  height: 15vh;
}
.code {
  font-size: .8em;
  font-family: monospace;
  font-weight: lighter;
}

.test {
  height: 150px;
}
/* styling updates based on screen size*/
@media screen and (max-width: 992px) {
  /* updates the styling based on the tablet sized screen or lower */
  .centralPane {
    width: 100vw;
  }

  h1 {
    font-size: 1.75em;
  }

  .status {
    width: 100vw;
  }

  p,
  .high-score,
  input,
  .btn {
    font-size: 1.25em;
  }
}
/* styling updates based on screen size*/
@media screen and (max-width: 560px) {
  /* updates the styling based on the smart phone sized screen or lower */
  .centralPanel {
    width: 100vw;
  }

  h1 {
    font-size: 1.25em;
  }

  .status {
    width: 100vw;
  }

  p,
  .high-score,
  input,
  .btn {
    font-size: 1em;
  }

  form {
    flex-direction: column;
  }
}
